@charset "utf-8";
/* CSS Document */

body{
	margin:0px;
	padding:0px;
	font-size:14px;
	}
.make_head_title{
	color: #2f6fba;
	font-size: 26px;
	line-height: 26px;
	margin-top:10px;
	width:100%;
	height:66px;
	border-bottom:1px solid lightgrey;
	}
.make_head_friendly_reminder{
	color:#CA1E37;
	font-size:13px;
	line-height:25px;
	margin-top:20px;
	}
.make_head_friendly_reminder a{
	color:#555;
	text-decoration:none;
	cursor: pointer; 
	}
.make_head_lingtou_industry{
	color: #2f6fba;
	font-size: 18px;
	line-height: 26px;
	margin-top:20px;
	width:100%;
	height:46px;
	border-bottom:1px solid lightgrey;
	}
.make_head_lingtou_industry font{
	color:rgb(153, 153, 153);
	}
.make_head_concerned_industry{
	margin-top:30px;
	color:#555;
	}
.investment_industry_input{
	height:20px;
	line-height:20px;
	padding:4px;
	}
.make_head_concerned_industry font{
	color:rgb(153, 153, 153);
	}
.editor_c{
	margin-top:10px;
	}
.make_head_but{
	margin-left:300px;
	margin-right:300px;
	}
	
/*******************************************************************/

/*******************************************************************/